table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
}
table thead tr th {
  background: #003580;
  color: #fff;
}
table thead tr th,
table tbody tr td {
  text-align: center;
  padding: 10px;
}
table thead tr th {
}
table tbody tr td {
  background: #e6e6fa;
  border-bottom: 1px solid #ccc;
}
